body {
    background: #0f1b2b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    margin-top: 40px;
}

h1 {
    margin-bottom: 20px;
}

.upload-box {
    border: 2px dashed #00d4ff;
    display: inline-block;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
}

button {
    background: #1db954;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #17a74a;
}

textarea {
    width: 90%;
    height: 420px;
    background: black;
    color: #00ff9c;
    padding: 15px;
    font-family: Consolas, monospace;
    border: 1px solid #00d4ff;
    border-radius: 10px;
}

.loading {
    margin-top: 10px;
    color: #ffd700;
    font-weight: bold;
}

.hidden {
    display: none;
}
